@font-face {
  src: url("/font-family/scp.otf");
  font-family: "Source Code Pro";
}
@font-face {
  src: url("/font-family/audiowide.ttf");
  font-family: "Audiowide";
}
@font-face {
  src: url("/font-family/indie-flower.ttf");
  font-family: "Indie Flower";
}
@font-face {
  src: url("/font-family/seville.ttf");
  font-family: "Seville";
}
.background-minecraft {
  background-image: url("/background-image/minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.background-cod {
  background-image: url("/background-image/codbo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.background-blue {
  background-color: blue;
}
.background-dodgerblue {
  background-color: dodgerblue;
}
.background-aqua {
  background-color: aqua;
}
.background-red {
  background-color: red;
}
.background-crimson {
  background-color: crimson;
}
.background-pink {
  background-color: pink;
}
.background-hotpink {
  background-color: hotpink;
}
.background-deeppink {
  background-color: deeppink;
}
.background-magenta {
  background-color: magenta;
}
.background-purple {
  background-color: purple;
}
.background-green {
  background-color: green;
}
.background-lime {
  background-color: lime;
}
.background-springgreen {
  background-color: springgreen;
}
.background-black {
  background-color: black;
}
.background-gray {
  background-color: gray;
}
.background-yellow {
  background-color: yellow;
}
.background-orange {
  background-color: orange;
}
.background-teal {
  background-color: teal;
}
.background-garnet {
  background-color: #862633;
}
.text-blue {
  color: blue;
}
.text-dodgerblue {
  color: dodgerblue;
}
.text-aqua {
  color: aqua;
}
.text-red {
  color: red;
}
.text-crimson {
  color: crimson;
}
.text-pink {
  color: pink;
}
.text-hotpink {
  color: hotpink;
}
.text-deeppink {
  color: deeppink;
}
.text-magenta {
  color: magenta;
}
.text-purple {
  color: purple;
}
.text-green {
  color: green;
}
.text-lime {
  color: lime;
}
.text-springgreen {
  color: springgreen;
}
.text-gray {
  color: gray;
}
.text-yellow {
  color: yellow;
}
.text-orange {
  color: orange;
}
.text-teal {
  color: teal;
}
.text-garnet {
  color: #862633;
}
.font-scp {
  font-family: "Source Code Pro";
}
.font-aw {
  font-family: "Audiowide";
}
.font-if {
  font-family: "Indie Flower";
}
.font-seville {
  font-family: "Seville";
}
.note-blue {
  border-left: 6px solid blue;
  background-color: #9999ff;
}
.note-red {
  border-left: 6px solid red;
  background-color: #ff9999;
}
.solid-black {
  border: 1px solid black;
}
.solid-blue {
  border: 1px solid blue;
}
.solid-dodgerblue {
  border: 1px solid dodgerblue;
}
.solid-aqua {
  border: 1px solid aqua;
}
.solid-red {
  border: 1px solid red;
}
.solid-crimson {
  border: 1px solid crimson;
}
.solid-pink {
  border: 1px solid pink;
}
.solid-hotpink {
  border: 1px solid hotpink;
}
.solid-deeppink {
  border: 1px solid deeppink;
}
.solid-magenta {
  border: 1px solid magenta;
}
.solid-purple {
  border: 1px solid purple;
}
.solid-green {
  border: 1px solid green;
}
.solid-lime {
  border: 1px solid lime;
}
.solid-springgreen {
  border: 1px solid springgreen;
}
.solid-gray {
  border: 1px solid gray;
}
.solid-yellow {
  border: 1px solid yellow;
}
.solid-orange {
  border: 1px solid orange
}
.solid-teal {
  border: 1px solid teal;
}
.solid-garnet {
  border: 1px solid #862633;
}
