@font-face {
  src: url("/font-family/scp.otf");
  font-family: "Source Code Pro";
}
.background-minecraft {
  background-image: url("/background-image/minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.background-cod {
  background-image: url("/background-image/codbo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.background-blue {
  background-color: blue;
}
.background-dodgerblue {
  background-color: dodgerblue;
}
.background-aqua {
  background-color: aqua;
}
.background-red {
  background-color: red;
}
.background-crimson {
  background-color: crimson;
}
.background-pink {
  background-color: pink;
}
.background-hotpink {
  background-color: hotpink;
}
.background-deeppink {
  background-color: deeppink;
}
.background-magenta {
  background-color: magenta;
}
.background-purple {
  background-color: purple;
}
.background-green {
  background-color: green;
}
.background-lime {
  background-color: lime;
}
.background-springgreen {
  background-color: springgreen;
}
.background-black {
  background-color: black;
}
.background-gray {
  background-color: gray;
}
.background-yellow {
  background-color: yellow;
}
.background-orange {
  background-color: orange;
}
.background-teal {
  background-color: teal;
}
.background-garnet {
  background-color: #862633;
}
.text-blue {
  color: blue;
}
.text-dodgerblue {
  color: dodgerblue;
}
.text-aqua {
  color: aqua;
}
.text-red {
  color: red;
}
.text-crimson {
  color: crimson;
}
.text-pink {
  color: pink;
}
.text-hotpink {
  color: hotpink;
}
.text-deeppink {
  color: deeppink;
}
.text-magenta {
  color: magenta;
}
.text-purple {
  color: purple;
}
.text-green {
  color: green;
}
.text-lime {
  color: lime;
}
.text-springgreen {
  color: springgreen;
}
.text-gray {
  color: gray;
}
.text-yellow {
  color: yellow;
}
.text-orange {
  color: orange;
}
.text-teal {
  color: teal;
}
.text-garnet {
  color: #862633;
}
.border-solid-black {
  border: 1px solid black;
}
.border-solid-blue {
  border: 1px solid blue;
}
.border-solid-dodgerblue {
  border: 1px solid dodgerblue;
}
.border-solid-aqua {
  border: 1px solid aqua;
}
.border-solid-red {
  border: 1px solid red;
}
.border-solid-crimson {
  border: 1px solid crimson;
}
.border-solid-pink {
  border: 1px solid pink;
}
.border-solid-hotpink {
  border: 1px solid hotpink;
}
.border-solid-deeppink {
  border: 1px solid deeppink;
}
.border-solid-magenta {
  border: 1px solid magenta;
}
.border-solid-purple {
  border: 1px solid purple;
}
.border-solid-green {
  border: 1px solid green;
}
.border-solid-lime {
  border: 1px solid lime;
}
.border-solid-springgreen {
  border: 1px solid springgreen;
}
.border-solid-gray {
  border: 1px solid gray;
}
.border-solid-yellow {
  border: 1px solid yellow;
}
.border-solid-orange {
  border: 1px solid orange;
}
.border-solid-teal {
  border: 1px solid teal;
}
.border-solid-garnet {
  border: 1px solid #862633;
}
.code-aaaa {
  background-color: #1F1B1A;
  font-family: "Source Code Pro";
  color: gray;
  width: 100%;
}
.code-aaab {
  background-color: #1F1B1A;
  font-family: "Source Code Pro";
  color: green;
  width: 100%;
}
.code-aaac {
  background-color: #1F1B1A;
  font-family: "Source Code Pro";
  color: lime;
  width: 100%;
}
.code-aaad {
  background-color: #1F1B1A;
  font-family: Courier, 'New Courier', monospace;
  color: gray;
  width: 100%;
}
.code-aaae {
  background-color: #1F1B1A;
  font-family: Courier, 'New Courier', monospace;
  color: green;
  width: 100%;
}
.code-aaaf {
  background-color: #1F1B1A;
  font-family: Courier, 'New Courier', monospace;
  color: lime;
  width: 100%;
}
.code-aaag {
  background-color: black;
  font-family: "Source Code Pro";
  color: green;
  width: 100%;
}
.code-aaah {
  background-color: black;
  font-family: "Source Code Pro";
  color: lime;
  width: 100%;
}
.code-aaai {
  background-color: black;
  font-family: "Source Code Pro";
  color: #8b4b65;
  width: 100%;
}
.code-aaaj {
  background-color: black;
  font-family: Courier, 'New Courier', monospace;
  color: green;
  width: 100%;
}
.code-aaak {
  background-color: black;
  font-family: Courier, 'New Courier', monospace;
  color: green;
  width: 100%;
}
.code-aaal {
  background-color: black;
  font-family: Courier, 'New Courier', monospace;
  color: #8b4b65;
  width: 100%;
}
