@font-face {
  src: url("/font-family/scp.otf");
  font-family: "Source Code Pro";
}
@font-face {
  src: url("/font-family/audiowide.ttf");
  font-family: "Audiowide";
}
@font-face {
  src: url("/font-family/indie-flower.ttf");
  font-family: "Indie Flower";
}
@font-face {
  src: url("/font-family/seville.ttf");
  font-family: "Seville";
}
.background-minecraft {
  background-image: url("/background-image/minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.background-cod {
  background-image: url("/background-image/codbo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.background-blue {
  background-color: blue;
}
.background-dodgerblue {
  background-color: dodgerblue;
}
.background-aqua {
  background-color: aqua;
}
.background-red {
  background-color: red;
}
.background-crimson {
  background-color: crimson;
}
.background-pink {
  background-color: pink;
}
.background-hotpink {
  background-color: hotpink;
}
.background-deeppink {
  background-color: deeppink;
}
.background-magenta {
  background-color: magenta;
}
.background-purple {
  background-color: purple;
}
.background-green {
  background-color: green;
}
.background-lime {
  background-color: lime;
}
.background-springgreen {
  background-color: springgreen;
}
.background-black {
  background-color: black;
}
.background-gray {
  background-color: gray;
}
.background-yellow {
  background-color: yellow;
}
.background-orange {
  background-color: orange;
}
.background-teal {
  background-color: teal;
}
.background-garnet {
  background-color: #862633;
}
.background-darkblue {
  background-color: darkblue;
}
.background-darkred {
  background-color: darkred;
}
.background-gold {
  background-color: gold;
}
.background-tan {
  background-color: tan;
}
.background-tomato {
  background-color: tomato;
}
.text-blue {
  color: blue;
}
.text-dodgerblue {
  color: dodgerblue;
}
.text-aqua {
  color: aqua;
}
.text-red {
  color: red;
}
.text-crimson {
  color: crimson;
}
.text-pink {
  color: pink;
}
.text-hotpink {
  color: hotpink;
}
.text-deeppink {
  color: deeppink;
}
.text-magenta {
  color: magenta;
}
.text-purple {
  color: purple;
}
.text-green {
  color: green;
}
.text-lime {
  color: lime;
}
.text-springgreen {
  color: springgreen;
}
.text-gray {
  color: gray;
}
.text-yellow {
  color: yellow;
}
.text-orange {
  color: orange;
}
.text-teal {
  color: teal;
}
.text-garnet {
  color: #862633;
}
.text-darkblue {
  color: darkblue;
}
.text-darkred {
  color: darkred;
}
.text-gold {
  color: gold;
}
.text-tan {
  color: tan;
}
.text-tomato {
  color: tomato;
}
.font-scp {
  font-family: "Source Code Pro";
}
.font-aw {
  font-family: "Audiowide";
}
.font-if {
  font-family: "Indie Flower";
}
.font-seville {
  font-family: "Seville";
}
.note-blue {
  border-left: 6px solid blue;
  background-color: #9999ff;
}
.note-red {
  border-left: 6px solid red;
  background-color: #ff9999;
}
.card-container {
  padding: 2px 16px;
}
.card-blue {
  background-color: blue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-dodgerblue {
  background-color: dodgerblue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-aqua {
  background-color: aqua;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-red {
  background-color: red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-crimson {
  background-color: crimson;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-pink {
  background-color: pink;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-hotpink {
  background-color: hotpink;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-deeppink {
  background-color: deeppink;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-magenta {
  background-color: magenta;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-purple {
  background-color: purple;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-green {
  background-color: green;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-lime {
  background-color: lime;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-springgreen {
  background-color: springgreen;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-gray {
  background-color: gray;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-yellow {
  background-color: yellow;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-orange {
  background-color: orange;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-teal {
  background-color: teal;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-garnet {
  background-color: #862633;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-blue:hover, .card-dodgerblue:hover, .card-aqua:hover, .card-red:hover. .card-crimson:hover, .card-pink:hover, .card-hotpink:hover, .card-deeppink:hover, .card-magenta:hover, .card-purple:hover, .card-green:hover, .card-lime:hover, .card-springgreen:hover, .card-yellow:hover, .card-orange:hover, .card-gray:hover, .card-teal:hover, .card-garnet:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.solid-black {
  border: 1px solid black;
}
.solid-blue {
  border: 1px solid blue;
}
.solid-dodgerblue {
  border: 1px solid dodgerblue;
}
.solid-aqua {
  border: 1px solid aqua;
}
.solid-red {
  border: 1px solid red;
}
.solid-crimson {
  border: 1px solid crimson;
}
.solid-pink {
  border: 1px solid pink;
}
.solid-hotpink {
  border: 1px solid hotpink;
}
.solid-deeppink {
  border: 1px solid deeppink;
}
.solid-magenta {
  border: 1px solid magenta;
}
.solid-purple {
  border: 1px solid purple;
}
.solid-green {
  border: 1px solid green;
}
.solid-lime {
  border: 1px solid lime;
}
.solid-springgreen {
  border: 1px solid springgreen;
}
.solid-gray {
  border: 1px solid gray;
}
.solid-yellow {
  border: 1px solid yellow;
}
.solid-orange {
  border: 1px solid orange;
}
.solid-teal {
  border: 1px solid teal;
}
.solid-garnet {
  border: 1px solid #862633;
}
.dotted-black {
  border: 1px dotted black;
}
.dotted-blue {
  border: 1px dotted blue;
}
.dotted-dodgerblue {
  border: 1px dotted dodgerblue;
}
.dotted-aqua {
  border: 1px dotted aqua;
}
.dotted-red {
  border: 1px dotted red;
}
.dotted-crimson {
  border: 1px dotted crimson;
}
.dotted-pink {
  border: 1px dotted pink;
}
.dotted-hotpink {
  border: 1px dotted hotpink;
}
.dotted-deeppink {
  border: 1px dotted deeppink;
}
.dotted-magenta {
  border: 1px dotted magenta;
}
.dotted-purple {
  border: 1px dotted purple;
}
.dotted-green {
  border: 1px dotted green;
}
.dotted-lime {
  border: 1px dotted lime;
}
.dotted-springgreen {
  border: 1px dotted springgreen;
}
.dotted-gray {
  border: 1px dotted gray;
}
.dotted-yellow {
  border: 1px dotted yellow;
}
.dotted-orange {
  border: 1px dotted orange;
}
.dotted-teal {
  border: 1px dotted teal;
}
.dotted-garnet {
  border: 1px dotted #862633;
}
.dashed-black {
  border: 1px dashed black;
}
.dashed-blue {
  border: 1px dashed blue;
}
.dashed-dodgerblue {
  border: 1px dashed dodgerblue;
}
.dashed-aqua {
  border: 1px dashed aqua;
}
.dashed-red {
  border: 1px dashed red;
}
.dashed-crimson {
  border: 1px dashed crimson;
}
.dashed-pink {
  border: 1px dashed pink;
}
.dashed-hotpink {
  border: 1px dashed hotpink;
}
.dashed-deeppink {
  border: 1px dashed deeppink;
}
.dashed-magenta {
  border: 1px dashed magenta;
}
.dashed-purple {
  border: 1px dashed purple;
}
.dashed-green {
  border: 1px dashed green;
}
.dashed-lime {
  border: 1px dashed lime;
}
.dashed-springgreen {
  border: 1px dashed springgreen;
}
.dashed-gray {
  border: 1px dashed gray;
}
.dashed-yellow {
  border: 1px dashed yellow;
}
.dashed-orange {
  border: 1px dashed orange;
}
.dashed-teal {
  border: 1px dashed teal;
}
.dashed-garnet {
  border: 1px dashed #862633;
}
